[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub nl.openoffice.bluefish --assumeyes'
Icon=bluefish
Name=Bluefish
StartupNotify=true
Terminal=false
Type=Application
