[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub io.brackets.Brackets --assumeyes'
Icon=brackets
Name=Brackets
StartupNotify=true
Terminal=false
Type=Application
