[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.eclipse.Java --assumeyes'
Icon=eclipse
Name=Eclipse
StartupNotify=true
Terminal=false
Type=Application
