[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.geany.Geany --assumeyes'
Icon=geany
Name=Geany
StartupNotify=true
Terminal=false
Type=Application
