[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.gnome.meld --assumeyes'
Icon=meld
Name=Meld
StartupNotify=true
Terminal=false
Type=Application
