[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.jetbrains.PhpStorm --assumeyes'
Icon=phpstorm
Name=PhpStorm
StartupNotify=true
Terminal=false
Type=Application
