[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.sublimetext.three --assumeyes'
Icon=sublime
Name=SublimeText
StartupNotify=true
Terminal=false
Type=Application
