[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.jetbrains.WebStorm --assumeyes'
Icon=webstorm
Name=WebStorm
StartupNotify=true
Terminal=false
Type=Application
