[Desktop Entry]
Type=Action
Name=Convert to Image/s
Icon=image-jpeg
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/pdf;
Exec=bash -c "pdftoppm %f %f -png"
Name=Default profile
Path=cwd
