[Desktop Entry]
Type=Action
Name=Convert to WEBP
Icon=image-jpeg
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=image/*;
Exec=bash -c "cwebp -q 95 %f -o %f.webp"
Name=Default profile
Path=cwd
