[Desktop Entry]
Type=Action
Name=Convert to JPG
Icon=image-jpeg
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=image/png;
Exec=bash -c "mogrify -format jpg -quality 90 %f"
Name=Default profile
Path=cwd
