[Desktop Entry]
Type=Action
Name=Convert to 720p
Icon=convert-video
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=video/*;
Exec=bash -c "qterminal -e 'ffmpeg -i %f -vf scale=-1:720 -threads 0 -c:v libx264 -crf 18 -preset veryfast -c:a aac %f-720p.mp4'"
Name=Default profile
Path=cwd
