[Desktop Entry]
Type=Action
Name=ISO2USB
Icon=media-optical
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/x-cd-image;application/x-raw-disk-image;
Exec=qterminal -e 'sudo /usr/share/VX/actions/iso2usb %f'
Name=Default profile
