[Desktop Entry]
Type=Action
Name=Merge & Sort
Icon=merge
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=text/plain;
Exec=bash -c "cat %F | sort > %d/merged.sorted"
Name=Default profile
Path=cwd
