[Desktop Entry]
Type=Action
Name=Merge PDFs
Icon=pdf
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/pdf;
Exec=bash -c "pdfunite %F $(mktemp -p %d --suffix=.pdf Merged_pdf_XXXXXX)"
Name=Default profile
Path=cwd
