[Desktop Entry]
Type=Action
Name=Normalize Tracks
Icon=music
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=audio/*;
Exec=bash -c "mp3gain -c -r %F && kdialog --msgbox Normalized"
Name=Default profile
Path=cwd
