[Desktop Entry]
Type=Action
Name=Screenshot
Icon=accessories-screenshot
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=/bin/gtk3-nocsd xfce4-screenshooter -r
Name=Default profile
