[Desktop Entry]
Type=Action
Name=Set Web Permissions
Icon=preferences-system-network-server
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=qterminal -e '/usr/share/VX/actions/set-web-permissions %f'
Name=Default profile
Path=cwd
