[Desktop Entry]
Type=Action
Name=Set as wallpaper
Icon=wallpaper
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=image/*;
Exec=pcmanfm-qt -w %f
Name=Default profile
SelectionCount==1
