[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.google.Chrome --assumeyes'
Icon=chrome
Name=Chrome
StartupNotify=true
Terminal=false
Type=Application
