[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub io.gitlab.librewolf-community --assumeyes'
Icon=librewolf
Name=Librewolf
StartupNotify=true
Terminal=false
Type=Application
