[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.github.micahflee.torbrowser-launcher --assumeyes'
Icon=/usr/share/icons/tor.png
Name=TorBrowser
StartupNotify=true
Terminal=false
Type=Application
