[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.gnome.Epiphany --assumeyes'
Icon=/usr/share/icons/web.png
Name=Web
StartupNotify=true
Terminal=false
Type=Application
