[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.gimp.GIMP.flatpakref --assumeyes'
Icon=gimp
Name=Gimp
StartupNotify=true
Terminal=false
Type=Application
