[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.github.gijsgoudzwaard.image-optimizer --assumeyes'
Icon=/usr/share/icons/imageoptimizer.png
Name=ImageOptimizer
StartupNotify=true
Terminal=false
Type=Application
