[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.kryogenix.Pick --assumeyes'
Icon=/usr/share/icons/pick.png
Name=Pick
StartupNotify=true
Terminal=false
Type=Application
