[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.rawtherapee.RawTherapee --assumeyes'
Icon=/usr/share/icons/rawtherapee.png
Name=RawTherapee
StartupNotify=true
Terminal=false
Type=Application
