[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.hamrick.VueScan --assumeyes'
Icon=/usr/share/icons/vuescan.png
Name=VueScan
StartupNotify=true
Terminal=false
Type=Application
