[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.openshot.OpenShot --assumeyes'
Icon=openshot
Name=OpenShot
StartupNotify=true
Terminal=false
Type=Application
