[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.shotcut.Shotcut --assumeyes'
Icon=/usr/share/icons/shotcut.png
Name=Shotcut
StartupNotify=true
Terminal=false
Type=Application
