[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.github.KRTirtho.Spotube --assumeyes'
Icon=spotube
Name=Spotube
StartupNotify=true
Terminal=false
Type=Application
