[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.github.vkohaupt.vokoscreenNG --assumeyes'
Icon=vokoscreen
Name=Vokoscreen
StartupNotify=true
Terminal=false
Type=Application
