[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.abisource.AbiWord --assumeyes'
Icon=abiword
Name=Abiword
StartupNotify=true
Terminal=false
Type=Application
