[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.github.johnfactotum.Foliate --assumeyes'
Icon=foliate
Name=Foliate
StartupNotify=true
Terminal=false
Type=Application
