[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.mozilla.Thunderbird --assumeyes'
Icon=thunderbird
Name=Thunderbird
StartupNotify=true
Terminal=false
Type=Application
