[Desktop Entry]
Version=1.1
Type=Application
Name=File Manager
GenericName=File Manager
Comment=Browse the file system and manage the files
Icon=system-file-manager
Exec=pcmanfm-qt %U
Actions=
MimeType=inode/directory;
Categories=Core;FileManager;Qt;Utility;lxde-utility;
StartupNotify=true
