[Desktop Entry]
Version=1.1
Type=Application
Name=QTerminal drop down
GenericName=Drop-down Terminal
NoDisplay=true
Comment=A drop-down terminal emulator
Icon=utilities-terminal
Exec=qterminal --drop
Actions=
Categories=Qt;System;TerminalEmulator;lxde-system-tools;
