[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Type=Application
Icon=utilities-terminal
Exec=qterminal -e 'sudo %f'
Name=Run as Root
GenericName=Run as Root
Categories=System;
Path=
NoDisplay=true


