[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.play0ad.zeroad --assumeyes'
Icon=0ad
Name=0 A.D
StartupNotify=true
Terminal=false
Type=Application
