[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.heroicgameslauncher.hgl --assumeyes'
Icon=heroic
Name=Heroic
StartupNotify=true
Terminal=false
Type=Application
