[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub net.davidotek.pupgui2 --assumeyes'
Icon=/usr/share/icons/protonup.png
Name=ProtonUp
StartupNotify=true
Terminal=false
Type=Application
