[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.unknown_horizons.UnknownHorizons --assumeyes'
Icon=/usr/share/icons/unknownhorizons.png
Name=UnknownHoriz
StartupNotify=true
Terminal=false
Type=Application
