[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub app.xemu.xemu --assumeyes'
Icon=/usr/share/icons/xemu.png
Name=xemu
StartupNotify=true
Terminal=false
Type=Application
