[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.anydesk.Anydesk --assumeyes'
Icon=anydesk
Name=AnyDesk
StartupNotify=true
Terminal=false
Type=Application
