[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.bitwarden.desktop --assumeyes'
Icon=bitwarden
Name=Bitwarden
StartupNotify=true
Terminal=false
Type=Application
