[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.github.cassidyjames.dippi --assumeyes'
Icon=/usr/share/icons/dippi.png
Name=Dippi
StartupNotify=true
Terminal=false
Type=Application
