[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.github.tchx84.Flatseal --assumeyes'
Icon=flatseal
Name=Flatseal
StartupNotify=true
Terminal=false
Type=Application
