[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub org.raspberrypi.rpi-imager --assumeyes'
Icon=/usr/share/icons/piimager.png
Name=Pi Imager
StartupNotify=true
Terminal=false
Type=Application
