[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.poweriso.PowerISO --assumeyes'
Icon=/usr/share/icons/poweriso.png
Name=PowerISO
StartupNotify=true
Terminal=false
Type=Application
