[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.darhon.syncbackup --assumeyes'
Icon=/usr/share/icons/syncbackup.png
Name=SyncBackup
StartupNotify=true
Terminal=false
Type=Application
