[Desktop Entry]
Exec=qterminal -e 'sudo flatpak install flathub com.frac_tion.teleport --assumeyes'
Icon=/usr/share/icons/teleport.png
Name=Teleport
StartupNotify=true
Terminal=false
Type=Application
