[SddmGreeterTheme]
Name=vxbreeze
Description=vxbreeze
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=vxbreeze
Theme-API=2.0
